*{
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 6, 48);
}

h1{
    color: azure;
    font-size: 144px;
    font-weight: 300;
}